#tutsplus-post-notice {

	background-color:      #fcf8e3;

	border:                1px solid #fbeed5;
	border-radius:         4px;
	-moz-border-radius:    4px;
	-webkit-border-radius: 4px;

	margin-bottom:         18px;
	margin:                8px 0 8px 0;
	padding:               12px;

	color:                 #c09853;
	text-shadow:           0 1px 0 rgba(255, 255, 255, 0.5);
	font-family:           Arial,Sans-serif;
	font-size:             12px;

}